html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cssClassImage {
  visibility: hidden;
}

/* #container {
  display: grid;
} */

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: bold;
}

#phone-box-container {
  /* display: grid; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.phone-box {
  width: 300px;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-bottom: 77px;
  transition: transform 1s;
}

.phone-box img {
  height: 350px;
  width: auto;
  color: black;
  background-color: white;
}

.phone-box h3,
h4 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

/* .phone-box:hover { */
.home:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-10%);
}

.phone-box.clicked {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .clicked-phone {
  margin: auto;
  width: 80%;
  display: grid;
} */

.description-clicked {
  width: 50%;
  /* align-self: center; */
  text-align: left;
}

.description-clicked p {
  margin-right: 10%;
}

/* .description-clicked h4 {
  text-align: center;
} */

.hidden {
  visibility: hidden;
}

footer {
  background-color: #cfc1cf;
  padding: 10px;
  margin: 0px;
  margin-top: 50px;
}

/* #phone-box-container,
#galaxy-active,
#iphone-active,
#oppo-active,
#xiaomi-active,
#nokia-active,
#huawei-active {
  grid-column: 1;
  grid-row: 1;
} */

#phone-description-container {
  display: grid;
}

#galaxy-active,
#iphone-active,
#oppo-active,
#xiaomi-active,
#nokia-active,
#huawei-active {
  grid-column: 1;
  grid-row: 1;
}

/* #phone-box-container,
#phone-description-container {
  grid-column: 1;
  grid-row: 1;
} */

.clicked-phone {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 70px;
}

#messageBoardSection {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 80%;
  /* height: 400px; */
  margin: auto;
  display: grid;
  /* border-radius: 5px; */
}

#messageBoardSection input {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px black;
}

textarea {
  resize: none;
  height: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px black;
}

.button {
  /* margin-top: 20px; */
  display: flex;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: black;
  box-shadow: 2px 3px black;
  background-color: #8efbcf;
  padding: 10px;
  /* font-size: 1rem; */
  font-size: 17px;
  font-weight: bold;
}

.button:active {
  box-shadow: -2px -3px black;
}

.comment {
  background-color: #8efbcf;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}

.user-comment {
  margin: 10px;
  font-weight: bold;
}

.posted-comment {
  font-weight: 500;
  margin: 10px;
}

/* 
.submit {
  float: left;
} */

/* .phone-box-click {
    transform: translateX(-100%);
  } */

/* To do: style buttons */
/* To do: style comment section */
