html {
  scroll-behavior: smooth;
}

body {
  display: grid;
}

.cssClassImage {
  visibility: hidden;
}

/* #container {
  display: grid;
} */

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: bold;
}

#phone-box-container {
  /* display: grid; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.phone-box {
  width: 300px;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-bottom: 77px;
  transition: transform 1s;
}

.phone-box img {
  height: 350px;
  width: auto;
  color: black;
  background-color: white;
}

.phone-box h3,
h4 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

/* .phone-box:hover { */
.home:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-10%);
}

.phone-box.clicked {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .clicked-phone {
  margin: auto;
  width: 80%;
  display: grid;
} */

.description-clicked {
  width: 50%;
  /* align-self: center; */
  text-align: left;
}

.description-clicked p {
  margin-right: 10%;
}

/* .description-clicked h4 {
  text-align: center;
} */

.hidden {
  visibility: hidden;
}

/* #phone-box-container,
#galaxy-active,
#iphone-active,
#oppo-active,
#xiaomi-active,
#nokia-active,
#huawei-active {
  grid-column: 1;
  grid-row: 1;
} */

#phone-description-container {
  display: grid;
}

#galaxy-active,
#iphone-active,
#oppo-active,
#xiaomi-active,
#nokia-active,
#huawei-active {
  grid-column: 1;
  grid-row: 1;
}

/* #phone-box-container,
#phone-description-container {
  grid-column: 1;
  grid-row: 1;
} */

.clicked-phone {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 70px;
}
/* .phone-box-click {
    transform: translateX(-100%);
  } */ ;
